body {
    margin: 0;
    padding: 0;
    background-color: #f4978e;
    color: white;
}
header, main {
    width: fit-content;
    background-color: transparent;
    margin: auto;  
}
header {
    margin-top: 5rem;
}
header > section {
    position: relative;
}
header > section > h3 {
    position: absolute;
    top: -1rem;
    right: 1rem;
}
header > section > div {
    width: 30%;
    margin: 1rem auto 1rem auto;
    text-align: center;
}
header > nav {
    margin-top: 3rem;
}
header > nav > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: fit-content;
    height: 2rem;
}
header > nav > ul > li {
    float: left;
    margin: 0;
    padding: 0;
    margin-top: 0.5rem;
    width: fit-content;
}
header > nav > ul > li > a {
    margin: 0;
    padding: 0.5rem 2rem;
    text-decoration: none;
    color: #f4978e;
    background-color: #ffdab9;
    border-style: solid none;
    border-width: thin;
    border-color: white;
}
header > nav > ul > li > a:hover {
    text-decoration: none;
    color: white;
    background-color: #f4978e;
}
#first {
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#last {
    border-right-style: solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}